<div class="title">


    <div class="search">
      <h1>Enter in your desired date</h1>

      <label for="">Please enter in a date in the following format: YYYY-MM-DD</label>
      <input type="text" name="date" id="search-date">

      <button id="search-btn">find pics</button>
    </div>


  <div class="response">
    <h2>cool we saved your pics</h2>
  </div>

  <a href="/screensavers">view pics </a>


</div>
